<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>RegistrationAPI</display-name>
  <welcome-file-list>
    <welcome-file>memberRegistration.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.abhi.prj.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDao</display-name>
    <servlet-name>RegisterDao</servlet-name>
    <servlet-class>com.abhi.prj.RegisterDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDao</servlet-name>
    <url-pattern>/RegisterDao</url-pattern>
  </servlet-mapping>
</web-app>