<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <!-- servlet cnf -->
  <servlet>
  	<servlet-name>seasons</servlet-name>
  	<servlet-class>com.nt.servletto.SeasonServlet</servlet-class>
  </servlet>
  
  <!-- servlet mapping cnf -->
  <servlet-mapping>
  	<servlet-name>seasons</servlet-name>
  	<url-pattern>/seasonurl</url-pattern>
  </servlet-mapping>
  <!-- welcome-file-list -->
  <welcome-file-list>
    <welcome-file>page.html</welcome-file>
  </welcome-file-list>
</web-app>